[user]
	name = Ben Cook
	email = b@bencook.ca
[core]
	editor = vi
	excludesfile = /Users/ben/.gitignore-global
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
    ba = branch -a
    ca = commit -am 
    d = diff
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
